.courses-info {
     top: 1rem;
}

.course-info {
     box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
     border: 1px solid #f2f2f2;
     margin-bottom: 1rem;
     padding: 2.2rem;
}

.course-info__topic-title {
     color: var(--dark-color);
}

.course-info__topic-text {
     color: #7d7e7f;
}

.course-info__courses-text {
     color: #8d8d8d;
}

.course-info__courses-title {
     color: var(--dark-color);
}