@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './nav-bar.css';
@import './course-box.css';
@import './default.css';
@import './footer.css';
@import './pagination.css';

.login {
     background: var(--white-color);
     box-shadow: 0 6px 20px rgba(168, 172, 185, 0.3);
     width: 50rem;
     border-bottom: 5px solid #2dce56;
     padding: 1.8rem 2rem;
}

.login-title,
.login-subtitle {
     color: #7b868a;
}

.login__new-member {
     background-color: #f0f2f7;
}

.login__new-member-text {
     color: #7b868a;
}

.login__new-member-link {
     background-color: #a8aaaf;
     color: var(--white-color);
}

.login-form__input {
     border: 1px solid #e6e6e6;
}

.login-form__username-icon,
.login-form__password-icon {
     top: 50%;
     left: 2.5rem;
     color: #ccc;
}

.login-form__btn {
     color: var(--white-color);
     background-color: var(--primary-color);
}

.login-form__password-setting * {
     color: #6c757d;
}

.login-desc {
     color: #7b868a;
     font-size: 1.2rem;
}

.login-desk-list {
     list-style: disc;
     padding-right: 2rem;
}

.login-register::before {
     content: "";
     position: absolute;
     top: -5rem;
     width: 110%;
     height: 380px;
     background-color: #2dce56;
     z-index: -50;
     transform: rotate(-4deg);
}

.login-register::after {
     content: "";
     position: absolute;
     width: 110%;
     height: 380px;
     background-color: rgba(43, 206, 86, 0.6);
     z-index: -60;
     transform: rotate(-4deg);
}